// PRIMARY NEXTFLOW.CONFIG
// This file contains all default parameters, profiles, pipeline metadata

// NEXTFLOW MANIFEST
manifest {
    name                                  = 'Analyse Results'
    version                               = '0.1.0'
    description                           = 'Nextflow pipeline to analyze UMI run and variant calling by mutserve'
    author                                = 'Stephan Amstler'
    homePage                              = 'https://github.com/AmstlerStephan/analyse_runs_mutserve'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=22.04'
}

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help = false
	version = false
	debug = false

	run_folder = null
	ont_pl_folder = ont_pl
	nanostat_folder = null
	nanostat_tsv_pattern = null
	mutserve_summary_pattern = null 
	ngs_data = null
	expected_mutations = null
	corresponding_positions = null
	output = null

	umi_cutoff_R9 = 0.085
	umi_cutoff_V14 = 0.085
	merge_umi_result_file = true
	all_runs = true 
	mutserve_dir = false 	


}


// NEXTFLOW PROFILES
profiles {

	// -profile standard
	standard {
		includeConfig "${baseDir}/config/base.config"
	}

	// -profile conda
	conda {
		includeConfig "${baseDir}/config/base.config"
		process.conda = "$baseDir/env/environment.yml"
	}

	// -profile docker
	docker {
		includeConfig "${baseDir}/config/base.config"
		docker.enabled = true
		process.container = 'ecseq/dnaseq'
	}

	// -profile singularity
	singularity {
		includeConfig "${baseDir}/config/base.config"
		singularity.enabled = true
		process.container = 'ecseq/dnaseq'
	}

	// -profile test
	test {
		includeConfig "${baseDir}/config/base.config"
		includeConfig "${baseDir}/config/test.config"
	}

	// -profile custom
	custom {
		// Don't load any config (for use with custom home configs)
	}
}

