params {

    run_folder = "/home/stephanamstler/post_pipeline_analysis/test_data/"
	nanostat_folder = "/home/stephanamstler/post_pipeline_analysis/QC/Nanostat_parsed_merged/"
	nanostat_tsv_pattern = "1000_9.tsv"
	mutserve_summary_pattern = "summary_mutserve.txt" 
	ngs_data = "/home/stephanamstler/UMI_LPA_KIV2/data_ngs/data_ngs/20221122_NGS_reference_data_SAPHIR.csv"
	expected_mutations = "/home/stephanamstler/UMI_LPA_KIV2/data_ngs/data_ngs/20221122_plasmid_expected_muts.csv"
	output = "result_test"

	umi_cutoff_R9 = 0.085
	umi_cutoff_V14 = 0.04
	merge_umi_result_file = true
	all_runs = true 

}

// NEXTFLOW REPORTING # this defines pipeline metadata
dag {
	enabled = true
	overwrite = true 
	file = "${params.output}/dag.svg"
}
report {
	enabled = true
	overwrite = true
	file = "${params.output}/report.html"
}
timeline {
	enabled = true
	overwrite = true
	file = "${params.output}/timeline.html"
}
trace {
	enabled = true
	overwrite = true
	file = "${params.output}/trace.txt"
}