/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run ecseq/dnaseq -profile test
 */

params {

    // ADD
}

// NEXTFLOW REPORTING # this defines pipeline metadata
dag {
	enabled = true
	overwrite = true 
	file = "${params.output}/dag.svg"
}
report {
	enabled = true
	overwrite = true
	file = "${params.output}/report.html"
}
timeline {
	enabled = true
	overwrite = true
	file = "${params.output}/timeline.html"
}
trace {
	enabled = true
	overwrite = true
	file = "${params.output}/trace.txt"
}